<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>my tab</title>
</head>

<body>
	<h1>Welcome to BookStore</h1>
	<h1 style="background-color:blue;">title</h1>
	<h3>category=python</h3>
	<h6>summary=The user-friendly, object-oriented programming language Python is quickly becoming the most popular introductory programming language for both students and instructors.

    This book provides a comprehensive, accessible introduction to Python fundamentals. An ideal first language for learners entering the rapidly expanding field of computer science, Python gives students a solid platform of key problem-solving skills that translate easily across programming languages.</h6>
	<p style="background-color:red;">category</p>
	<b>pages</b>
	<i>pdf</i>
	<u>author</u>
	<marquee scrolling=left>python is hard think</marquee>

</body>
</html>    